@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    background-color: #fafafafa;
}

body {
    height: 100%;
    padding: 30px clamp(19px, 10%, 243px);
    width: 1440px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

header h1 {
    font-size: 36px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    width: 50%;
    min-width: 300px;
    margin-bottom: 38px;
}

header div {
    width: clamp(300px, 50%, 440px);
    padding-right: 20px;
    font-family:'Poppins', sans-serif;
}
header div h3{
    margin-bottom: 5px;
}

header div p {
    font-size: clamp(14px, 2vw, 16px);
}

/* --- MAIN --- */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 93px;
}

/* --- CARDS --- */


.card{
    width: 238px;
}

.card-down{
    margin-top: 110px;
}

.image-position{
    display: flex;
}

.image-position img {
    width: 238px;
    margin-bottom: 15px;
}

.position{
    font-family: 'PT Serif', serif;
    font-size: clamp(10px, 1vw, 12px);
    writing-mode: vertical-rl;
    margin-left: 10px;
}

.name{
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}